<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= category %></title>
</head>
<%- include('./partials/nav') %>

<body>
  <h1><%= category %></h1>
  <% for (const food of menu){ %>
    <ul><%= food.name %>
        <li><%= food.price %>$</li>
        <li><%= food.rating %>⭐</li>
        <li><%= food.details %></li>
    </ul>
  <% } %>
</body>
</html>
