<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= resturant.name %></title>
</head>
<%- include('./partials/nav') %>

<body>
  <h1>Home Page</h1>
  <p><%= resturant.name %></p>
  <p><%= resturant.address %></p>
  <p><%= resturant.phone %></p>
</body>
</html>
